<div class="well">
<div class="row">
  <h5>Is this the word you want?</h5>
  <h1>"<%= @word.text %>"</h1>
</div>

<div class="row">
  <p>Letters in alphabetical order: <%= "#{@word.letters}" %></p>
</div>
</div>