<div class="jumbotron">
  <h1><%= "#{@word}" %></h1>
</div>
<ul class="well">
    <% if !@anagrams.nil? %>
      <% @anagrams.each do |word| %>
        <li><%= word.text %></li>
      <% end %>
    <% end %>
</ul>